*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
}

li ,ul,ol{
    list-style: none;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
    line-height: 1;
}