* {
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    margin: 0;
}


.div-area{
    height: 100%;
    width: 100%;
    background: #F8F8F8F8;
    display: flex;
}

.div-loginarea{  /* 전체화면의 왼쪽 loginPage size */
    height: 100%;
    width: 50%;
}

#imgdiv1{ /* 이미지 div */
    height: 30%;
    width: 100%;
    align-items: center;
    align-content: center;
}

#imgdiv{ /* 로고이미지 중앙 정렬*/
    width: 100%;
    height: 70%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}

#form1{ /* 로그인 창*/
    height: 40%;
    align-content: space-between;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 0 auto;
    gap: 17%;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.div-imgarea{/* 전체화면의 오른쪽 이미지용 div*/
    height: 100%;
    width: 50%;
    background-image: url(/resources/image/dyxm.PNG);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: 0;
}

#thId{ /* 아이디 입력칸 div*/
    border: 1px solid green;
    height: 20%;
    width: 100%;
    padding-right: 5%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    padding-left: 5%;
    border-radius: 15px;
    gap: 5%;
}

#thId input{ /* 아이디 입력칸 input*/
    width: 100%;
    border: none;
    outline: none;
    background: #F8F8F8;
    font-size: 16px;
}

#thPwd{ /* 비밀번호 입력칸 div*/
    border: 1px solid green;
    height: 20%;
    width: 100%;
    padding-right: 5%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding-left: 5%;
    border-radius: 15px;
    gap: 5%;
}

#thPwd input{ /* 비밀번호 입력칸 input*/
    width: 100%;
    border: none;
    background: #F8F8F8;
    font-size: 16px;
    outline: none;
}

#loginFormdiv{ /* 로그인 버튼 div*/

    height: 20%;
    width: 100%;
}
#loginForm{ /* 로그인 버튼 button*/
    border: 1px solid green;
    background: #529471;
    height: 40px;
    width: 100%;
    padding-right: 5%;
    align-items: center;
    display: flex;
    padding-left: 5%;
    border-radius: 15px;
    font-size: 16px;
    color: #ffffff;
    gap: 5%;
}

#thdiv{ /* 아이디찾기, 비밀번호찾기, 회원 가입 div*/
    justify-content: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    gap: 2%;
}

#thdiv *{ /* 아이디찾기, 비밀번호찾기, 회원 가입 폰트 컬러 */
    color: #A9A9A9;
}

a{
    text-decoration: none;
    color: black;
}

.div-area1{ /*왼쪽*/
    align-items: center;
    height: 100%;
    padding-right: 15%;
    padding-left: 15%;
}