
/*myPage 와 updatemyPage의 css*/


.div-area{ /* */
    height: 100%;
    width: 100%;
    background: #F8F8F8F8;
    display: flex;
}

.div-loginarea{
    height: 100%;
    width: 50%;
}

#imgdiv{
    width: 100%;
    height: 70%;
    display: flex;


    align-content: center;
    justify-content: center;
    margin: 0 auto;

}
.div-imgarea{
    height: 100%;
    width: 50%;
    background-image: url(/resources/image/etc/tksaor.PNG);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: 0;
}


.div-loginarea>.loginForm{
    padding-right: 5%;
    padding-left: 5%;
    margin: 0 auto;
}

#thId{
    border: 1px solid green;
    height: 50px;
    width: 100%;
    padding-right: 5%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    padding-left: 5%;
    border-radius: 15px;
    gap: 5%;
    background: #ffffff;

}
#thId input{
    width: 100%;
    border: none;
    outline: none;
    background: white;
    font-size: 16px;

}



#thPwd input{
    width: 100%;
    border: none;
    background: white;
    font-size: 16px;
    outline: none;
}
#thPwd{
    border: 1.5px solid green;
    height: 50px;
    width: 100%;
    padding-right: 5%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding-left: 5%;
    border-radius: 15px;
    gap: 5%;
    background: white;
}

.loginForm{
    text-align: center;
    align-items: center;
    background: #529471;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#form1{
    height: 40%;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;

}
#form1>div{
    align-content: center;
}

#loginFormdiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-content: center;
    justify-content: center;

}

a{
    text-decoration: none;
    color: black;

}
#thdiv {
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;

    display: flex;
    gap: 2%;


}
#thdiv *{
    color: #A9A9A9;
}
#imgdiv1{
    height: 30%;
    width: 100%;
    align-items: center;
    align-content: center;
}
.div-area1{
    gap: 100px;
    align-items: center;
    height: 100%;
    padding-right: 15%;
    padding-left: 15%;

}
/*!*updateMyPage*!*/
/*.div-imgarea1{*/
/*    height: 100%;*/
/*    width: 50%;*/
/*    background-image: url(/resources/image/etc/updatemyPage_img.png);*/
/*    background-size: 100% 100%;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    cursor: pointer;*/
/*    outline: 0;*/
/*}*/

/*------------------------버튼들 호버------------------------*/

/* 기본 버튼 스타일 */
.loginForm, .modal-button {
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* 부드러운 효과 */
}

/* 일반 버튼 호버 효과 */
.loginForm:hover {
    background-color: #7AC38F;
}
