<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.diamelo.mappers.BoardMapper">
    <resultMap id="BoardResult" type="Board">
        <result column="POST_ID" property="postId"/>
        <result column="USER_ID" property="userId"/>
        <result column="TITLE" property="title"/>
        <result column="CONTENT" property="content"/>
        <result column="CREATED_DATE" property="createdDate"/>
        <result column="UPDATE_DATE" property="updateDate"/>
        <result column="TYPE" property="type"/>
        <result column="BOARD_DELETED" property="boardDeleted"/>
    </resultMap>

    <resultMap id="ReplyResult" type="Reply">
        <result column="REP_NO" property="repNo"/>
        <result column="POST_ID" property="postId"/>
        <result column="CONTENT" property="content"/>
        <result column="WRITER" property="writer"/>
        <result column="CREATED_DATE" property="createDate"/>
        <result column="UPDATE_DATE" property="updateDate"/>
        <result column="REPLY_DELETED" property="replyDeleted"/>
    </resultMap>

    <select id="selectBoardCount" resultType="_int">
        SELECT COUNT(*)
        FROM BOARD
        WHERE BOARD_DELETED = 'N'
    </select>

    <select id="selectBoardAllList" resultMap="BoardResult">
        SELECT POST_ID, TYPE, TITLE, USER_ID, CREATED_DATE
        FROM BOARD
        WHERE BOARD_DELETED = 'N'
        ORDER BY POST_ID DESC
    </select>

    <select id="selectDetailView" resultMap="BoardResult">
        SELECT POST_ID, TITLE, CONTENT, USER_ID
        FROM BOARD
        WHERE BOARD_DELETED = 'N' AND POST_ID = #{bno}
    </select>

    <select id="selectReplyView" resultMap="ReplyResult">
        SELECT REP_NO, CONTENT, WRITER, CREATED_DATE
        FROM REPLY
        WHERE REPLY_DELETED = 'N' AND POST_ID = #{bno}
        ORDER BY REP_NO DESC
    </select>

    <insert id="insertReply">
        INSERT
        INTO REPLY(
            REP_NO,
            CONTENT,
            POST_ID,
            WRITER
        ) VALUES(
            SEQ.RNO.NEXTVAL,
            #{replyContent},
            #{refBno},
            #{replyWriter}
        )
    </insert>

    <select id="selectReplyList" resultMap="ReplyResult">
        SELECT REP_NO,
            CONTENT,
            WRITER,
            CREATED_DATE
        FROM REPLY
            WHERE REPLY_DELETED = 'N'
            AND POST_ID = #{boardNo}
            ORDER BY REP_NO DESC
    </select>
</mapper>