<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.diamelo.mappers.EmployeeMapper">
    <resultMap id="UserResult" type="UserInfo">
        <result column="USER_ID" property="userId"/>
        <result column="JOB_CODE" property="jobCode"/>
        <result column="DEPT_CODE" property="deptCode"/>
        <result column="USER_PWD" property="userPwd"/>
        <result column="COMPANY_NAME" property="companyName"/>
        <result column="USER_NAME" property="userName"/>
        <result column="PHONE" property="phone"/>
        <result column="EMAIL" property="email"/>
        <result column="ENROLL_DATE" property="enrollDate"/>
        <result column="MODIFY_DATE" property="modifyDate"/>
        <result column="STATUS" property="status"/>
        <result column="USER_DELETED" property="userProfile"/>
        <result column="JOB_NAME" property="jobName"/>
        <result column="DEPT_NAME" property="deptName"/>
        <result column="SALARY" property="salary"/>
        <result column="RNUM" property="rNum"/>
        <result column="ORIGIN_NAME" property="originName"/>
        <result column="CHANGE_NAME" property="changeName"/>
        <result column="FILE_PATH" property="filePath"/>



    </resultMap>

    <select id="selectUserInfoCount" resultType="int">
        SELECT COUNT(*) FROM USER_INFO
        WHERE STATUS = 'Y'
        AND COMPANY_NAME IS NULL
        AND USER_DELETED = 'N'
    </select>
    <select id="selectUserInfoList" parameterType="UserInfo"   resultMap="UserResult">
        SELECT RNUM, USER_NAME, JOB_NAME, PHONE, EMAIL, TO_CHAR(ENROLL_DATE, 'YYYY/MM/DD') AS ENROLL_DATE
        FROM (SELECT ROWNUM AS RNUM, USER_NAME, JOB_NAME, PHONE, EMAIL, ENROLL_DATE
        FROM (SELECT USER_NAME, JOB_NAME, PHONE, EMAIL, ENROLL_DATE
        FROM USER_INFO U
        JOIN JOB J USING(JOB_CODE)
        WHERE STATUS = 'Y' AND
        USER_DELETED = 'N'
        AND COMPANY_NAME IS NULL
        ORDER BY JOB_CODE DESC))
    </select>

    <select id="selectAdminUserInfoCount" resultType="int">
        SELECT COUNT(*)
        FROM USER_INFO
        WHERE USER_DELETED = 'N'
        AND COMPANY_NAME IS NULL
    </select>

    <select id="selectAdminList" parameterType="UserInfo" resultMap="UserResult">
        SELECT RNUM, USER_ID, USER_NAME, PHONE, EMAIL, STATUS, JOB_NAME
        FROM (SELECT ROWNUM AS RNUM, USER_ID, USER_NAME, PHONE, EMAIL, STATUS, JOB_NAME
        FROM (SELECT USER_ID, USER_NAME, PHONE, EMAIL, STATUS, JOB_NAME
        FROM USER_INFO U
        JOIN JOB J USING(JOB_CODE)
        WHERE USER_DELETED = 'N'
        AND COMPANY_NAME IS NULL
        ORDER BY STATUS ASC))
    </select>

    <select id="selectEmployeeDetail" parameterType="UserInfo" resultMap="UserResult">
        SELECT USER_NAME, PHONE, EMAIL, USER_ID, STATUS, SALARY, JOB_NAME, JOB_CODE ,TRIM(DEPT_CODE) AS DEPT_CODE,TO_CHAR(ENROLL_DATE, 'YYYY/MM/DD') AS ENROLL_DATE, ORIGIN_NAME, CHANGE_NAME
        FROM USER_INFO
        LEFT JOIN JOB  USING(JOB_CODE)
        LEFT JOIN ATTACHMENT USING(USER_ID)
        LEFT JOIN DEPARTMENT USING(DEPT_CODE)
        WHERE USER_ID = #{userId}
    </select>
    
    <select id="selectSearchUserInfoCount" resultType="_int">
        SELECT COUNT(*)
        FROM USER_INFO
        WHERE USER_DELETED = 'N'
        AND COMPANY_NAME IS NULL
            <if test="userName != null and userName != ''">
               AND USER_NAME = #{userName}
            </if>
            <if test="jobCode != null and jobCode != ''">
               AND JOB_CODE = #{jobCode}
            </if>

    </select>


    <select id="selectSearchUserInfoList"  parameterType="UserInfo" resultMap="UserResult">
        SELECT RNUM, USER_NAME, JOB_NAME, PHONE, EMAIL, TO_CHAR(ENROLL_DATE, 'YYYY/MM/DD') AS ENROLL_DATE
        FROM (SELECT ROWNUM AS RNUM, USER_NAME, JOB_NAME, PHONE, EMAIL, ENROLL_DATE
        FROM (SELECT USER_NAME, JOB_NAME, PHONE, EMAIL, ENROLL_DATE
        FROM USER_INFO U
        JOIN JOB J USING(JOB_CODE)
        WHERE STATUS = 'Y' AND
        USER_DELETED = 'N'
        AND COMPANY_NAME IS NULL
        <if test="userName != null and userName != '' and userName != 'all'">
            AND USER_NAME = #{userName}
        </if>
        <if test="jobCode != null and jobCode != '' and jobCode != 'all'">
            AND JOB_CODE = #{jobCode}
        </if>
        ORDER BY JOB_CODE DESC))
    </select>


    <select id="selectAdminSearchUserInfoCount" resultType="_int">
        SELECT COUNT(*)
        FROM USER_INFO
        WHERE USER_DELETED = 'N'
        AND COMPANY_NAME IS NULL
        <if test="userId != null and userId != ''">
            AND USER_ID = #{userId}
        </if>
        <if test="userName != null and userName != ''">
            AND USER_NAME = #{userName}
        </if>
    </select>

    <select id="selectAdminSearchUserInfoList"  parameterType="UserInfo" resultMap="UserResult">
        SELECT RNUM, USER_ID, USER_NAME, PHONE, EMAIL, STATUS, JOB_NAME
        FROM (SELECT ROWNUM AS RNUM, USER_ID, USER_NAME, PHONE, EMAIL, STATUS, JOB_NAME
        FROM (SELECT USER_ID, USER_NAME, PHONE, EMAIL, STATUS, JOB_NAME
        FROM USER_INFO U
        JOIN JOB J USING(JOB_CODE)
        WHERE USER_DELETED = 'N'
        AND JOB_CODE != 'J5'
        AND COMPANY_NAME IS NULL
        <if test="userId != null and userId != ''">
            AND USER_ID = #{userId}
        </if>
        <if test="userName != null and userName != ''">
            AND USER_NAME = #{userName}
        </if>
        ORDER BY STATUS ASC))
    </select>

    <update id="updateEmployeeDetailSearch">
        UPDATE USER_INFO
        SET USER_NAME = #{userName},
        PHONE = #{phone},
        MODIFY_DATE = SYSDATE,
        EMAIL = #{email},
        JOB_CODE = #{jobCode},
        DEPT_CODE = #{deptCode},
        STATUS = #{status}
        WHERE USER_ID = #{userId}
    </update>

    <update id="updateEmployeeImage">
        UPDATE ATTACHMENT SET
        ORIGIN_NAME = #{originName},
        CHANGE_NAME = #{changeName},
        UPDATE_DATE = SYSDATE
        WHERE USER_ID = #{userId}
    </update>

    <select id="employeeDetailImageSearch" resultType="_int">
        SELECT COUNT(*)
        FROM USER_INFO
        JOIN ATTACHMENT USING(USER_ID)
        WHERE USER_ID = #{userId}
    </select>

    <insert id="employeeDetailImageInsert">
        INSERT INTO ATTACHMENT
        (ATC_NO,
        USER_ID,
        ORIGIN_NAME,
        CHANGE_NAME,
        UPDATE_DATE
        )
        VALUES
        (SEQ_ANO.NEXTVAL,
        #{userId},
        #{originName},
        #{changeName},
        SYSDATE
       )
    </insert>




    <update id="empStatusDelete">
        UPDATE USER_INFO SET
        USER_DELETED = 'Y'
        WHERE USER_ID = #{userId}
    </update>

    <select id="empStatusSearch"  parameterType="UserInfo" resultMap="UserResult">
        SELECT STATUS
        FROM USER_INFO
        WHERE USER_ID = #{userId}
    </select>

    <delete id="empUserDelete">
        DELETE FROM USER_INFO
        WHERE USER_ID = #{userId}
    </delete>

    <update id="empStatusUpdate">
        UPDATE USER_INFO SET
        STATUS = 'N'
        WHERE USER_ID = #{userId}
    </update>




</mapper>
