<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.diamelo.mappers.IncomeMapper">

    <resultMap id="SalesDetailsResult" type="SalesDetails">
        <result column="SAL_NO" property="salNo"/>
        <result column="USER_ID" property="userId"/>
        <result column="GROUP_NO" property="groupNo"/>
        <result column="PRO_NAME" property="proName"/>
        <result column="CHANGE_NAME" property="changeName"/>
        <result column="SALES_STOCK" property="salesStock"/>
        <result column="SALES_AMOUNT" property="salesAmount"/>
        <result column="TYPE" property="type"/>
        <result column="SALES_DATE" property="salesDate"/>
        <result column="STATUS" property="status"/>
        <result column="COMPANY_NAME" property="companyName"/>
        <result column="TOTAL_SALES" property="totalSales"/>
    </resultMap>

    <select id="selectIncomeCount" resultType="_int">
        SELECT COUNT(DISTINCT GROUP_NO)
        FROM SALES_DETAILS
        WHERE STATUS = 'Y'

    </select>

    <select id="selectIncomeList" resultMap="SalesDetailsResult">
        SELECT
        GROUP_NO,
        COMPANY_NAME,
        TYPE,
        TO_CHAR(SALES_DATE, 'YY/MM/DD') AS SALES_DATE,
        TOTAL_SALES
        FROM (
        SELECT
        s.GROUP_NO,
        u.COMPANY_NAME,
        s.TYPE,
        s.SALES_DATE,
        NVL(SUM(s.SALES_AMOUNT) OVER (PARTITION BY s.GROUP_NO), 0) AS TOTAL_SALES,
        ROW_NUMBER() OVER (PARTITION BY s.GROUP_NO ORDER BY s.SALES_DATE DESC) AS RN
        FROM SALES_DETAILS s
        JOIN USER_INFO u ON s.USER_ID = u.USER_ID
        WHERE s.STATUS = 'Y'
        )
        WHERE RN = 1
        ORDER BY SALES_DATE DESC, GROUP_NO DESC
    </select>

    <select id="selectSerachIncomeCount" resultType="_int">
        SELECT COUNT(*)
        FROM (
        SELECT DISTINCT s.GROUP_NO
        FROM SALES_DETAILS s
        JOIN USER_INFO u ON s.USER_ID = u.USER_ID
        WHERE 1=1
        <if test="type != null and type != ''">
            AND s.TYPE = #{type}
        </if>
        <if test="startDate != null and startDate != ''">
            AND s.SALES_DATE &gt;= TO_DATE(#{startDate} || ' 00:00:00', 'YYYY-MM-DD HH24:MI:SS')
        </if>
        <if test="endDate != null and endDate != ''">
            AND s.SALES_DATE &lt;= TO_DATE(#{endDate} || ' 23:59:59', 'YYYY-MM-DD HH24:MI:SS')
        </if>
        <if test="company != null and company != ''">
            AND u.COMPANY_NAME LIKE '%' || #{company} || '%'
        </if>
        AND s.STATUS = 'Y'
        )
    </select>



    <select id="selectSearchIncomeList" resultMap="SalesDetailsResult">
        SELECT
        GROUP_NO,
        COMPANY_NAME,
        TYPE,
        TO_CHAR(SALES_DATE, 'YY/MM/DD') AS SALES_DATE,
        TOTAL_SALES
        FROM (
        SELECT
        s.GROUP_NO,
        u.COMPANY_NAME,
        s.TYPE,
        s.SALES_DATE,
        NVL(SUM(s.SALES_AMOUNT) OVER (PARTITION BY s.GROUP_NO), 0) AS TOTAL_SALES,
        ROW_NUMBER() OVER (PARTITION BY s.GROUP_NO ORDER BY s.SALES_DATE DESC) AS RN
        FROM SALES_DETAILS s
        JOIN USER_INFO u ON s.USER_ID = u.USER_ID
        WHERE 1=1
        <if test="type != null and type != ''">
            AND s.TYPE = #{type}
        </if>
        <if test="startDate != null and startDate != ''">
            AND s.SALES_DATE &gt;= TO_DATE(#{startDate} || ' 00:00:00', 'YYYY-MM-DD HH24:MI:SS')
        </if>
        <if test="endDate != null and endDate != ''">
            AND s.SALES_DATE &lt;= TO_DATE(#{endDate} || ' 23:59:59', 'YYYY-MM-DD HH24:MI:SS')
        </if>
        <if test="company != null and company != ''">
            AND u.COMPANY_NAME LIKE '%' || #{company} || '%'
        </if>
        AND s.STATUS = 'Y'
        )
        WHERE RN = 1
        ORDER BY SALES_DATE DESC, GROUP_NO DESC
    </select>


    <select id="searchIncomeSum" resultType="_int">
        SELECT NVL(SUM(TOTAL_SALES),0)
        FROM (
        SELECT s.GROUP_NO, NVL(SUM(s.SALES_AMOUNT), 0) AS TOTAL_SALES
        FROM SALES_DETAILS s
        JOIN USER_INFO u ON s.USER_ID = u.USER_ID
        WHERE 1=1
        <if test="type != null and type != ''">
            AND s.TYPE = #{type}
        </if>
        <if test="startDate != null and startDate != ''">
            AND s.SALES_DATE &gt;= TO_DATE(#{startDate} || ' 00:00:00', 'YYYY-MM-DD HH24:MI:SS')
        </if>
        <if test="endDate != null and endDate != ''">
            AND s.SALES_DATE &lt;= TO_DATE(#{endDate} || ' 23:59:59', 'YYYY-MM-DD HH24:MI:SS')
        </if>
        <if test="company != null and company != ''">
            AND u.COMPANY_NAME LIKE '%' || #{company} || '%'
        </if>
        AND s.STATUS = 'Y'
        GROUP BY s.GROUP_NO
        )
    </select>


    <select id="incomeDetail" resultMap="SalesDetailsResult">
            SELECT
            s.CHANGE_NAME,
            s.PRO_NAME,
            u.COMPANY_NAME,
            s.TYPE,
            s.SALES_STOCK,
            s.SALES_AMOUNT,
            NVL(SUM(s.SALES_AMOUNT) OVER (PARTITION BY s.GROUP_NO), 0) AS TOTAL_SALES
            FROM
            SALES_DETAILS s
            JOIN
            USER_INFO u ON s.USER_ID = u.USER_ID
            WHERE
            s.STATUS = 'Y'
            AND s.GROUP_NO = #{gno}
    </select>


    <select id="selectIncomeInSales" resultType="_int">
        SELECT NVL(SUM(SALES_AMOUNT),0) AS SALES_AMOUNT
        FROM SALES_DETAILS
        WHERE TYPE = 'I' AND STATUS = 'Y'
    </select>

    <select id="selectIncomeOutSales" resultType="_int">
        SELECT NVL(SUM(SALES_AMOUNT),0) AS SALES_AMOUNT
        FROM SALES_DETAILS
        WHERE TYPE = 'O' AND STATUS = 'Y'
    </select>

    <select id="selectIncomeInSalesDetail" resultType="_int">
        SELECT NVL(SUM(SALES_AMOUNT),0) AS SALES_AMOUNT
        FROM SALES_DETAILS s
        JOIN USER_INFO u ON s.USER_ID = u.USER_ID
        WHERE s.TYPE = 'I' AND s.STATUS = 'Y'
        <if test='startDate != null and startDate != ""'>
            AND s.SALES_DATE &gt;= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
            AND s.SALES_DATE &lt;= #{endDate}
        </if>
        <if test='company != null and company != ""'>
            AND u.COMPANY_NAME LIKE '%' || #{company} || '%'
        </if>
    </select>

    <select id="selectIncomeOutSalesDetail" resultType="_int">
        SELECT NVL(SUM(SALES_AMOUNT),0) AS SALES_AMOUNT
        FROM SALES_DETAILS s
        LEFT JOIN USER_INFO u ON s.USER_ID = u.USER_ID
        WHERE s.TYPE = 'O' AND s.STATUS = 'Y'
        <if test='startDate != null and startDate != ""'>
            AND s.SALES_DATE &gt;= #{startDate}
        </if>
        <if test='endDate != null and endDate != ""'>
            AND s.SALES_DATE &lt;= #{endDate}
        </if>
        <if test='company != null and company != ""'>
            AND u.COMPANY_NAME LIKE '%' || #{company} || '%'
        </if>
    </select>
</mapper>