<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.diamelo.mappers.MemberMapper">

    <resultMap id="MemberResult" type="UserInfo">
        <result column="USER_ID" property="userId"/>
        <result column="USER_PWD" property="userPwd"/>
        <result column="USER_NAME" property="userName"/>
        <result column="EMAIL" property="email"/>
        <result column="GENDER" property="gender"/>
        <result column="AGE" property="age"/>
        <result column="PHONE" property="phone"/>
        <result column="ADDRESS" property="address"/>
        <result column="ENROLL_DATE" property="enrollDate"/>
        <result column="MODIFY_DATE" property="modifyDate"/>
        <result column="STATUS" property="status"/>
    </resultMap>

    <select id="idCheck" resultType="_int">
        SELECT COUNT(*)
        FROM USER_INFO
        WHERE USER_ID = #{userId}
    </select>

    <insert id="insertMember">
        INSERT
        INTO USER_INFO(
            USER_ID,
            JOB_CODE,
            DEPT_CODE,
            USER_PWD,
            COMPANY_NAME,
            USER_NAME,
            PHONE,
            EMAIL
        ) VALUES(
            #{userId},
            #{jobCode},
            #{deptCode},
            #{userPwd},
            #{companyName},
            #{userName},
            #{phone},
            #{email}
        )
    </insert>

</mapper>