*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
}

li ,ul,ol{
    list-style: none;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
    line-height: 1;
}

/* erpPage 전체바탕컬러 강제성 */
body{
    background: #f8f8f8 !important;
}

.table{
    border-bottom: 1px solid #D0D5DD;
}

.table tbody tr{
    cursor: pointer;
}

.table-click:hover{
    cursor: pointer;
}